$dark-color: #154359;
$white-color: #ffffff;
$green-color: #dae3d5;
$purple-color: #d4d1dc;
$blue-color: #cddee3;
$main-font-size: 16px;
$extra-font-size: 14px;
$h1-font-size: 24px;
$h2-font-size: 25px;
$h3-font-size: 20px;

:export {
	primaryColor: $primary-color;
}
